@import "tailwindcss";

@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/forms';

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }

  /*
    The CSS in this style tag is based off of Bear Blog's default CSS.
    https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
    License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
   */

  @font-face {
    font-family: "Atkinson";
    src: url("/fonts/atkinson-regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Atkinson";
    src: url("/fonts/atkinson-bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }
  body {
    font-family: "Atkinson", sans-serif;
    margin: 0;
    padding: 0;
    text-align: left;
    background-size: 100% 600px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    font-size: 18px;
    line-height: 1.7;
  }
  main {
    margin: auto;
    padding: 3em 1em;
  }

  h1 {
    font-size: 3.052em;
  }
  h2 {
    font-size: 2.441em;
  }
  h3 {
    font-size: 1.953em;
  }
  h4 {
    font-size: 1.11em;
  }
  h5 {
    font-size: 1em;
  }
  strong,
  b {
    font-weight: 700;
  }

  .prose p {
    margin-bottom: 2em;
  }

  @media (max-width: 720px) {
    body {
      font-size: 18px;
    }
    main {
      padding: 1em;
    }
  }
}
