---
const today = new Date();
---

<footer class="flex flex-col gap-4 bg-teal-500 py-10">
  <div class="mb-2 flex flex-row justify-around">
    <div>
      <p class="text-lg">Footer Content</p>
      <hr class="border-1 m-auto mb-2 h-px w-6/12 border border-gray-950" />
    </div>
  </div>

  <div class="self-center">
    &copy; {today.getFullYear()} cms prototype
  </div>
</footer>
