---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const { href, ...props } = Astro.props;

const { pathname } = Astro.url;
const subpath = pathname.replace("/en", "").match(/[^/]+/g);
const isActive = href === pathname || (subpath?.[0] && href?.toString().includes(subpath[0]));
---

<a
  href={href}
  class={`text-xl font-medium transition ease-in-out hover:text-blue-700 ${isActive ? "text-blue-700 underline decoration-solid underline-offset-8" : "text-gray-950"}`}
  {...props}
>
  <slot />
</a>
