---
interface Props {
  title: string;
  ogTitle?: string;
  ogDescription: string;
  image?: string;
}

import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { getCurrentLocale } from "../i18n/utils";

const { title, ogTitle, ogDescription, image } = Astro.props;
const currentLocale = getCurrentLocale(Astro.currentLocale);
---

<!doctype html>
<html lang={currentLocale ?? "de"}>
  <head>
    <BaseHead
      title={title}
      ogTitle={ogTitle}
      ogDescription={ogDescription}
      image={image}
    />
  </head>
  <body class="text-gray-0 flex min-h-screen flex-col text-lg">
    <Header />
    <main
      class="xs:max-w-screen-xs md:max-screen-md mx-auto my-8 w-full grow hyphens-auto marker:text-blue-400 sm:max-w-screen-sm md:px-0 lg:max-w-screen-lg"
    >
      <slot />
    </main>
    <Footer />
  </body>
</html>
